<!doctype html>
<html>
  <%= partial 'shared/head' %>
  <body class="<%= page_classes %>">
    <%= partial 'shared/nav' %>
    <div class="max-width-4 mx-auto">
        <div class="hero" style="background: #dddddd;">
          <div class="max-width-4 mx-auto">
              <div class="p1">
                <div class="clearfix">
                    <div class="col sm-col-10 md-col-9">
                        <div class="h3 black bold mt0 regular"><p class="m0 steel-body">
      <span class="black">Cloud-Native .NET&nbsp;|&nbsp;Core Configuration Fundamentals with Steeltoe&nbsp;|&nbsp;</span><a href="https://content.pivotal.io/webinars/jul-24-learn-cloud-native-net-core-configuration-fundamentals-with-steeltoe-webinar" target="_blank" style="text-decoration:none"><span class="blue bold">Watch the webinar now</span></a>
          </p></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="p2">
        <div class="sm-flex">
          <div class="col-12 sm-col-3 sm-pr3">
            <h2 class="mt0 steel-heading">
              <i class="fa fa-file-text muted"></i>
              Documentation
              <select onchange="viewV1()" id="docselector" class="iscollapsed">
                <option>v1.x</option>
                <option selected>v2.x</option>
              </select>
            </h2>
            <noscript>
              <a href="<%= current_page.url.sub! 'docs', '1x' %>">View v1.x Docs</a>
            </noscript>
            <div id="toc">
              <%= partial 'shared/docs-toc' %>
              <%= partial 'shared/reference-toc' %>
            </div>
          </div>
          <div class="col-12 sm-col-9 js-toc-content">
            <% if !current_article.nil? %>
              <h1 class="js-toc-ignore regular"><%= current_article.metadata[:page][:title] %></h1>
            <% end %>
            <%= yield %>
            <a class="repo-link" href="https://github.com/steeltoeoss/steeltoe-site/tree/dev/source/<%= current_resource.file_descriptor.relative_path %>">Create a pull request or raise an issue on the source for this page in GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <%= partial 'shared/footer' %>
    <% if is_docs_but_not_overview() %>
    <%= javascript_include_tag :docs %>
    <% end %>
    <script>
      function viewV1(){
        window.location.href='<%= current_page.url.sub! 'docs', '1x' %>';
      }
      document.getElementById('docselector').style.display = "inline";
    </script>
  </body>
</html>
