<!doctype html>
<html>
  <%= partial 'shared/head' %>
  <body class="<%= page_classes %>">
    <%= partial 'shared/nav' %>
    <div class="max-width-4 mx-auto">
      <div class="p2">
        <div class="sm-flex">
          <div class="col-12 sm-col-3 sm-pr3">
            <h2 class="mt0 steel-heading">
              <i class="fa fa-file-text muted"></i>
              Documentation
              <select onchange="viewV1()" id="docselector" class="iscollapsed">
                <option>v1.x</option>
                <option selected>v2.x</option>
              </select>
            </h2>
            <noscript>
              <a href="<%= current_page.url.sub! 'docs', '1x' %>">View v1.x Docs</a>
            </noscript>
            <div id="toc">
              <%= partial 'shared/docs-toc' %>
            </div>
          </div>
          <div class="col-12 sm-col-9 js-toc-content">
            <% if !current_article.nil? %>
              <h1 class="js-toc-ignore regular"><%= current_article.metadata[:page][:title] %></h1>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= partial 'shared/footer' %>
    <%= javascript_include_tag :all %>
    <%= javascript_include_tag :docs %>
    <script>
      function viewV1(){
        window.location.href='<%= current_page.url.sub! 'docs', '1x' %>';
      }
      document.getElementById('docselector').style.display = "inline";
    </script>
  </body>
</html>
