<!doctype html>
<html>
  <%= partial 'shared/head' %>
  <body class="<%= page_classes %>">
    <%= partial 'shared/nav' %>
    <div class="max-width-4 mx-auto">
      <div class="p2">
        <%= yield %>
      </div>
    </div>
    <%= partial 'shared/footer' %>
    <%= partial 'shared/ga' %>
  </body>
</html>
