<!doctype html>
<html>
  <%= partial 'shared/head' %>
  <body class="<%= page_classes %>">
    <%= partial 'shared/nav' %>
    <div class="max-width-4 mx-auto">
      <div class="p2">
        <h2 class="mt0 steel-heading"><i class="fa fa-file-text muted"></i> Documentation</h2>
        <ul>
          <li>v1.x</li>
          <li><a href="<%= current_page.url.sub! '1x', 'docs' %>">v2.x</a></li>
        </ul>
        <div class="sm-flex">
          <div class="col-12 sm-col-3 sm-pr3">
            <div id="toc">
              <%= partial 'shared/docs-toc' %>
            </div>
          </div>
          <div class="col-12 sm-col-9 js-toc-content">
            <% if !current_article.nil? %>
              <h1 class="regular js-toc-ignore"><%= current_article.metadata[:page][:title] %></h1>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= partial 'shared/footer' %>
    <%= javascript_include_tag :docs %>
    <%= partial 'shared/ga' %>
  </body>
</html>
