<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Steeltoe" %></title>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="max-width-4 mx-auto">
      <nav class="px2 py2 center sm-left-align sm-flex items-center">
        <div class="logo mx-auto mb1 sm-mx0 sm-mb0 flex-auto">
          <img class="" src="http://placecage.com/50/50" alt="">
        </div>
        <div class="navigation">
          <a class="text-decoration-none steel-body mr1 sm-mr3" href="#">GitHub</a>
          <a class="text-decoration-none steel-body mr1 sm-mr3" href="#">Docs</a>
          <a class="text-decoration-none steel-body mr1 sm-mr3" href="#">Slack</a>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
