<!doctype html>
<html>
  <%= partial 'shared/head' %>
  <body class="<%= page_classes %>">
    <%= partial 'shared/nav' %>
    <%= yield %>
    <%= partial 'shared/footer' %>
    <%= javascript_include_tag :all %>
  </body>
</html>
