<!doctype html>
<html>
  <%= partial 'shared/head' %>
  <body class="<%= page_classes %>">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K877M7V"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
    <%= partial 'shared/nav' %>
    <%= yield %>
    <%= partial 'shared/footer' %>
    <%= javascript_include_tag :all %>
  </body>
</html>
