<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Steeltoe" %></title>

    <%= stylesheet_link_tag :site %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/vs.min.css">
    <%= javascript_include_tag 'svg-injector.min' %>
    <%= javascript_include_tag :all %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script src="https://rawgit.com/VincentGarreau/particles.js/master/particles.min.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>

  <body class="<%= page_classes %>">
    <div class="max-width-4 mx-auto">
      <nav class="px2 py2 center sm-left-align sm-flex items-center">
        <div class="logo mx-auto mb1 sm-mx0 sm-mb0 flex-auto">
          <img src="images/logo-inline.svg" alt="Steeltoe Logo">
        </div>
        <div class="navigation">
          <a class="text-decoration-none steel-body mr1 sm-mr3" target="_blank" href="https://github.com/steeltoeoss">GitHub</a>
          <a class="text-decoration-none steel-body mr1 sm-mr3" target="_blank" href="https://www.nuget.org/profiles/steeltoe">NuGet</a>
          <a class="text-decoration-none steel-body mr1 sm-mr3" target="_blank" href="https://github.com/SteeltoeOSS/Tutorials">Docs</a>
          <a class="text-decoration-none steel-body mr1 sm-mr3" target="_blank" href="http://slack.steeltoe.io/">Slack</a>
        </div>
      </nav>
    </div>
    <%= yield %>
    <footer class="center">
      <div class="max-width-4 mx-auto">
        <div class="px2 py3">
          <img class="logo-small" src="images/logo.svg" alt="">
          <p class="mb0">Sponsored by <a class="text-decoration-none" target="_blank" href="http://pivotal.io">Pivotal</a></p>
          <ul class="list-reset mt1 p0">
            <li class="inline-block mr1">
              <a class="text-decoration-none" target="_blank" href="https://twitter.com/steeltoeoss">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="inline-block">
              <a target="_blank" href="mailto:info@steeltoe.io">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
