<nav class="top-nav">
  <div class="max-width-4 mx-auto">
    <div class="px2 py2 center sm-left-align sm-flex items-center">
      <div class="logo mx-auto mb1 sm-mx0 sm-mb0 flex-auto">
        <% link_to '/' do %>
          <%= image_tag 'logo-inline.svg', alt: "Steeltoe Logo" %>
        <% end %>
      </div>
      <div class="navigation">
        <%= link_to 'Docs', '/docs', class: "#{docs_nav_active()} text-decoration-none steel-body mr1 sm-mr3" %>
        <%= link_to 'GitHub', 'https://github.com/steeltoeoss', class: 'text-decoration-none steel-body mr1 sm-mr3', target: '_blank' %>
        <%= link_to 'NuGet', 'https://www.nuget.org/profiles/steeltoe', class: 'text-decoration-none steel-body mr1 sm-mr3', target: '_blank' %>
        <%= link_to 'Slack', 'https://slack.steeltoe.io/', class: 'text-decoration-none steel-body mr0', target: '_blank' %>
      </div>
    </div>
  </div>
</nav>
